backtracks not working

Hello,
There has been some problems with the usage of the backtracks it has been few days (although working perfectly before). I receive the following messages whenever i run any target.

`from backtracks import System`

> Status messages could not be retrieved

```
star ='HD 51797'
track = System(target_name=star,
               candidate_file="output_updated.csv",
               nearby_window=1,
               fileprefix='./')

fig_stationary = track.generate_stationary_plot(days_backward=4.*365.,
                                                days_forward=4.*365,
                                                step_size=10.,
                                                filepost='.png')
```

> [BACKTRACKS INFO]: Examining object = 1 in input file.
> [BACKTRACKS INFO]: Resolved the target star 'HD 51797' in Simbad!
> [BACKTRACKS INFO]: Resolved target's Gaia ID from Simbad, Gaia DR3 5557658685702796544
> ---------------------------------------------------------------------------
> TimeoutError                              Traceback (most recent call last)
> Cell In[8], line 5
>       1 # for star in stars:
>       2 
>       3 # star='* Pi Ara'
>       4 star ='HD 51797'
> ----> 5 track = System(target_name=star,
>       6                candidate_file="output_updated.csv",
>       7                nearby_window=1,
>       8                fileprefix='./')
>      10 fig_stationary = track.generate_stationary_plot(days_backward=4.*365.,
>      11                                                 days_forward=4.*365,
>      12                                                 step_size=10.,
>      13                                                 filepost='.png')
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/backtracks/backtracks.py:181, in System.__init__(self, target_name, candidate_file, nearby_window, fileprefix, ndim, **kwargs)
>     178             col.mask = np.isnan(col)
>     180 else:
> --> 181     self.nearby, self.gaia_id, target_gaia = self.query_astrometry(nearby_window)
>     183     target_table = fits.BinTableHDU(target_gaia)
>     184     nearby_table = fits.BinTableHDU(self.nearby)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/backtracks/backtracks.py:409, in System.query_astrometry(self, nearby_window)
>     403 # query target in Gaia
>     404 gaia_query = f"""
>     405 SELECT {col_str}
>     406 FROM gaia{self.gaia_release.lower()}.gaia_source
>     407 WHERE source_id = {gaia_id}
>     408 """
> --> 409 gaia_job = Gaia.launch_job_async(gaia_query, dump_to_file=False, verbose=False)
>     410 target_gaia = gaia_job.get_results()
>     412 if 'REF_EPOCH' in target_gaia.columns:
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/astroquery/gaia/core.py:1154, in GaiaClass.launch_job_async(self, query, name, output_file, output_format, verbose, dump_to_file, background, upload_resource, upload_table_name, autorun)
>    1113 def launch_job_async(self, query, *, name=None, output_file=None,
>    1114                      output_format="votable_gzip", verbose=False,
>    1115                      dump_to_file=False, background=False,
>    1116                      upload_resource=None, upload_table_name=None,
>    1117                      autorun=True):
>    1118     """Launches an asynchronous job
>    1119 
>    1120     Parameters
>    (...)   1152     A Job object
>    1153     """
> -> 1154     return TapPlus.launch_job_async(self, query=query,
>    1155                                     name=name,
>    1156                                     output_file=output_file,
>    1157                                     output_format=output_format,
>    1158                                     verbose=verbose,
>    1159                                     dump_to_file=dump_to_file,
>    1160                                     background=background,
>    1161                                     upload_resource=upload_resource,
>    1162                                     upload_table_name=upload_table_name,
>    1163                                     autorun=autorun,
>    1164                                     format_with_results_compressed=('votable_gzip',))
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/astroquery/utils/tap/core.py:434, in Tap.launch_job_async(self, query, name, output_file, output_format, verbose, dump_to_file, background, upload_resource, upload_table_name, autorun, maxrec, format_with_results_compressed)
>     424     response = self.__launchJobMultipart(query,
>     425                                          upload_resource,
>     426                                          upload_table_name,
>    (...)    431                                          autorun=autorun,
>     432                                          maxrec=maxrec)
>     433 else:
> --> 434     response = self.__launchJob(query,
>     435                                 output_format,
>     436                                 "async",
>     437                                 verbose,
>     438                                 name=name,
>     439                                 autorun=autorun,
>     440                                 maxrec=maxrec)
>     441 isError = self.__connHandler.check_launch_response_status(response, verbose, 303, raise_exception=False)
>     442 job = Job(async_job=True, query=query, connhandler=self.__connHandler,
>     443           use_names_over_ids=self.use_names_over_ids)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/astroquery/utils/tap/core.py:663, in Tap.__launchJob(self, query, outputFormat, context, verbose, name, autorun, maxrec)
>     661 if name is not None:
>     662     args['jobname'] = name
> --> 663 response = self.__connHandler.execute_tappost(subcontext=context, data=urlencode(args), verbose=verbose)
>     664 if verbose:
>     665     print(response.status, response.reason)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/astroquery/utils/tap/conn/tapconn.py:269, in TapConn.execute_tappost(self, subcontext, data, content_type, verbose)
>     248 """Executes a POST request
>     249 The connection is done through HTTP or HTTPS depending on the login
>     250 status (logged in -> HTTPS)
>    (...)    266 An HTTP(s) response object
>     267 """
>     268 context = self.__get_tap_context(subcontext)
> --> 269 return self.__execute_post(context, data, content_type, verbose=verbose)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/site-packages/astroquery/utils/tap/conn/tapconn.py:422, in TapConn.__execute_post(self, context, data, content_type, verbose)
>     420     print(f"Content-type = {content_type}")
>     421 self.__postHeaders["Content-type"] = content_type
> --> 422 conn.request("POST", context, data, self.__postHeaders)
>     423 response = conn.getresponse()
>     424 self.__currentReason = response.reason
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:1303, in HTTPConnection.request(self, method, url, body, headers, encode_chunked)
>    1300 def request(self, method, url, body=None, headers={}, *,
>    1301             encode_chunked=False):
>    1302     """Send a complete request to the server."""
> -> 1303     self._send_request(method, url, body, headers, encode_chunked)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:1349, in HTTPConnection._send_request(self, method, url, body, headers, encode_chunked)
>    1345 if isinstance(body, str):
>    1346     # RFC 2616 Section 3.7.1 says that text default has a
>    1347     # default charset of iso-8859-1.
>    1348     body = _encode(body, 'body')
> -> 1349 self.endheaders(body, encode_chunked=encode_chunked)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:1298, in HTTPConnection.endheaders(self, message_body, encode_chunked)
>    1296 else:
>    1297     raise CannotSendHeader()
> -> 1298 self._send_output(message_body, encode_chunked=encode_chunked)
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:1058, in HTTPConnection._send_output(self, message_body, encode_chunked)
>    1056 msg = b"\r\n".join(self._buffer)
>    1057 del self._buffer[:]
> -> 1058 self.send(msg)
>    1060 if message_body is not None:
>    1061 
>    1062     # create a consistent interface to message_body
>    1063     if hasattr(message_body, 'read'):
>    1064         # Let file-like take precedence over byte-like.  This
>    1065         # is needed to allow the current position of mmap'ed
>    1066         # files to be taken into account.
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:996, in HTTPConnection.send(self, data)
>     994 if self.sock is None:
>     995     if self.auto_open:
> --> 996         self.connect()
>     997     else:
>     998         raise NotConnected()
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:1468, in HTTPSConnection.connect(self)
>    1465 def connect(self):
>    1466     "Connect to a host on a given (SSL) port."
> -> 1468     super().connect()
>    1470     if self._tunnel_host:
>    1471         server_hostname = self._tunnel_host
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/http/client.py:962, in HTTPConnection.connect(self)
>     960 """Connect to the host and port specified in __init__."""
>     961 sys.audit("http.client.connect", self, self.host, self.port)
> --> 962 self.sock = self._create_connection(
>     963     (self.host,self.port), self.timeout, self.source_address)
>     964 # Might fail in OSs that don't implement TCP_NODELAY
>     965 try:
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/socket.py:863, in create_connection(address, timeout, source_address, all_errors)
>     861 try:
>     862     if not all_errors:
> --> 863         raise exceptions[0]
>     864     raise ExceptionGroup("create_connection failed", exceptions)
>     865 finally:
>     866     # Break explicitly a reference cycle
> 
> File ~/miniconda3/envs/backtracks/lib/python3.11/socket.py:848, in create_connection(address, timeout, source_address, all_errors)
>     846 if source_address:
>     847     sock.bind(source_address)
> --> 848 sock.connect(sa)
>     849 # Break explicitly a reference cycle
>     850 exceptions.clear()
> 
> TimeoutError: [Errno 110] Connection timed out